/* Контейнер для кола */

.for_sec_one{
  /* position: absolute; */
  top: 50%;
  right: 20%;
}
.for_sec_two{
  top: 92%;
  right: 50%;
}

.circle-container {
    position: absolute;
    width: 155px;
    text-decoration: none;
    border-radius: 100%;
    z-index: 1; /* Встановлюємо порядок шарів для контенту */
  }
  
  .pseudo_el::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    margin: 2%;
    border-radius: 100%;
    border: 1px solid white;
  }
  .circle-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    margin: 17%;
    border-radius: 100%;
    border: 1px solid white;
}
.circle-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(10, 10, 10, 0.832); /* Напівпрозорий темний фон */
  filter: blur(8px); /* Розмиття тільки фону */
  z-index: -1; /* Псевдоелемент за контентом */
  border-radius: 100%; /* Додаємо трохи заокруглених країв, якщо потрібно */
}

/* SVG текст по колу */
.circle-text {
    width: 100%;
    height: 100%;
    /* margin-top: 0px; */
    transition: transform 0.5s;

}


.circle-container:hover .circle-text{
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg); /* Початкова точка обертання */
    }
    to {
      transform: rotate(360deg); /* Кінцева точка обертання */
    }
  }


/* Текст по колу */
text {
    font-family: 'Georama', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    fill: white; /* Колір тексту */
    letter-spacing: 2px;
}


/* Центрування елемента в середині кола */
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

/* Стилізація стрілки */
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid #F44C06; /* Колір стрілки */
    transform: rotate(-45deg); /* Поворот стрілки */
}

@media screen and (min-width: 2000px) {

}
  @media screen and (max-width: 1600px) {

  }
    @media screen and (max-width: 1450px) {
      .circle-container {
        left: 5%;
        /* margin-top: 10%; */
     }
    }
      @media screen and (max-width: 768px) {
        .circle-container {
           left: 5%;
           /* margin-top: 30%; */
        }
      }
  