.list{
display: flex;
position: relative;
flex-direction: column;
width: 100%;
/* z-index: 3; */
margin-top: 10%;

}

.list div{
  border-top: 0.5px solid #767676;
  color: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 63% ;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease;
  padding: 2% 0;
  margin: 0 5%;
}


.list img{
    aspect-ratio: 4/3;
    position: absolute;
    width: 351px;
    left: 13%;
    filter: grayscale(100%);
}
.list p{
    font-size: 27px;
    font-weight: 200;
}

.mainTitle{
    font-size: 40px;
    font-size: 2.1vw;
    font-family: "Georama";
    font-weight: 100;
    display: inline-block;
    margin: 0;
}

.subTitle{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Montserrat"; 
    width: 60%;
    display: block;
    padding-top: 2%;
    line-height: 1.1;
}

.list div:hover {
    background-color: #E5E5E5;
    color: #F44C06;
    z-index: 1;
    transform: scale(1.12);
  }
  .list div:hover .mainTitle, .list div:hover p {
    font-weight: 700;
  }
  .hover-list div:hover .img-list {
    display: inline-block;
    position: absolute;
    top: -20%;
    left: 13.5%;
    z-index: 1;
  }
  .list div:hover p {
    padding-left: 13%;
  }
  .list div:hover .subTitle {
    display: block !important;
    color: black;
  }
  .list div:hover .mainTitle {
    padding-left: 2%;
  }


  @media screen and (min-width: 2000px) {

  }
    @media screen and (max-width: 1600px) {
      .list img{
        width: 300px;
      }
      .list{
        padding-top: 5%;
      }
    }
      @media screen and (max-width: 1450px) {
        .list img{
         width: 280px;
        }
        .mainTitle{
          font-size: 2.2vw;
      
      }
      }


      @media screen and (max-width: 1280px) {
        .list img{
         display: none;
        }
      }
        @media screen and (max-width: 768px) {
     
          .list p {
            font-size: 1.2em;
            font-weight: 100;
          } 

          .mainTitle{
            font-size: 3.2vw;
          }

          .subTitle{
            width: 90%;
          }

          .list img{
            display: none;
          }

          .list div:hover .mainTitle, .list div:hover p {
            font-weight: 600;
          }
        }
        @media screen and (max-width: 650px) {
         
          .list p {
            font-weight: 100;
            font-size: 1.2em;
          } 

          .mainTitle{
            font-size: 4vw;
            font-weight: 100;
          }

          .subTitle{
            width: 90%;
            font-size: 0.6em;
            padding-bottom: 5%;
          }

          .list img{
            display: none;
          }
        }