.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    }
    
    
    
    /* .primary-navigation a{ */
    .text-link-style{
    text-decoration: none;
    color: white;
    font-weight: 100;
    transition: all 0.2s ease-in-out;
    }
    /* .primary-navigation a:hover{ */
        .text-link-style:hover{
        color: #F44C06;
    }

    @media screen and (max-width: 768px) {
        
        .primary-navigation{
            gap: 2rem;
            position: fixed;
            inset: 0 0 0 35%;
            background: #050505e7;
            flex-direction: column;
            padding-left: 25vw;
            padding-top: 30vh;
            transform: translateX(100%);
            transition: all 350ms ease-out;
        }

        @supports (backdrop-filter: blur(1.1rem)){
            .primary-navigation{
                background: #4949498b;
                -webkit-backdrop-filter: blur(1.1rem) ;
                backdrop-filter: blur(1.1rem);
            }
        }
        

        .primary-navigation[data-visible="true"]{
            transform: translateX(0%);
        }

      }

  