.paragraph_sec_one{
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    color: #E5E5E5;
    width: 316px;
    /* min-width: 316px; */
    height: 80px;
    top: 40%;
    left: 37%;
    margin: 0;
}


@media screen and (min-width: 2000px) {
  .paragraph_sec_one{
    /* right: 5%; */
    /* left: auto; */
    /* width: 50%; */
    display: block;
    width: 30% !important;
    top: 42%;
    font-size: 1.8rem;
    width: 450px;
    text-align: end;
}

}
  @media screen and (max-width: 1600px) {

  }
    @media screen and (max-width: 1450px) {
      .paragraph_sec_one{
        right: 5%;
        left: auto;
        /* width: 50%; */
        display: block;
        width: 45% !important;
        top: 55%;
        font-size: 1.8rem;
        width: 450px;
        text-align: end;
    }
    }
      @media screen and (max-width: 768px) {
        .paragraph_sec_one{
            right: 5%;
            left: auto;
            display: block;
            width: 70% !important;
            top: 50%;
            font-size: 1.2rem;
            width: 450px;
            text-align: end;
        }
     
      }
  
      @media screen and (max-width: 450px) {
        .paragraph_sec_one{
            right: 5%;
            left: auto;
            display: block;
            width: 75% !important;
            top: 50%;
            font-size: 1.2rem;
            width: 450px;
            text-align: end;
        }
     
      }
  