.scrollBar{
  width: 100%;
  position: relative;
  /* z-index: 2; */
  transition: all 0.5s ease;
  transform: translateY();
}


.title{
  color: #f44c06;
  font-family: 'Georama';
  font-weight: 900;
  font-size: 9vw;
  width: 50%;
  margin-left: 37vw;
  /* margin-right: 10%; */
  margin-bottom: 5%;

}


.wrapper {
  width: 100%;
  position: relative;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
  grid-auto-columns: calc(100% / 3);
  /* margin-left: 5%; */
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card .img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.carousel .card {
  color: white;
  box-sizing: border-box;
  scroll-snap-align: start;
  list-style: none;
  width: auto;
  min-height: 100%;
  filter: brightness(0.7);
  transition: 1s ease;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 3%;
  padding: 0 0 15% 0;
  cursor: pointer;
  outline: none;
}

.card .badge {
  font-weight: 100;
  /* font-size: 2.5rem; */
  font-size: 2.1vw;
  font-family: "Georama", "Times New Roman", Times, serif;
    margin: 0;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.subtitle p {
  /* font-size: 1rem; */
  font-size: 0.8vw;
  font-weight: 200;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: block;
}

.card .subtitle {
  display: grid;
  visibility: hidden;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
  gap: 5%;
  opacity: 0; /* Стартове значення для opacity */
  transform: translateY(-10px); /* Для анімації руху */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Додаємо плавний перехід */
}

.card:hover .subtitle,
.card:focus .subtitle {
  visibility: visible;
  opacity: 1; /* Фінальне значення для opacity */
  transform: translateY(0); /* Фінальне положення */
  animation: fadeIn 0.5s ease; /* Застосовуємо анімацію */
}

.card:hover .subtitle p,
.card:focus .subtitle p {
display: block;
}

.card:focus .badge {
  font-weight: 600;
  /* font-size: 4.5vw; */
}

.card:hover {
  filter: brightness(0.9);
}
.card:focus {
  filter: brightness(1.2);
}

/* //// */


.slide-button {
  position: absolute;
  top: 42vw;
  /* height: 50px;
  width: 50px; */
  color: #fff;
  font-size: 3vw;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);
}

#prev-slide {
  left: 2%;
  z-index: 3;
}

#next-slide {
  right: 2%;
  z-index: 3;
}

.slide-button:hover {
  /* color: #f44c06; */
  color: gray;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (min-width: 2000px) {
}

@media screen and (max-width: 1600px) {
  /* Ноутбуки, показуємо 3 повних слайда, четвертий частково */
  .carousel {
    grid-auto-columns: calc(100% / 3); /* Три повних, четвертий частково */
  }
}

@media screen and (max-width: 1200px) {
  /* Планшети: показуємо 2 повних слайда, третій частково */
  .carousel {
    grid-auto-columns: calc(100% / 2,5); /* Два повних слайда, третій частково */
  }
  .slide-button {
    top: 48vw;
  }
  .subtitle{
    grid-template-columns: none !important;
    grid-template-rows: repeat(2, 1fr);
  }
  .subtitle p{
    font-size: 1.2vw;
    text-align: left;
  }
  .card .badge {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 768px) {
  /* Телефони: показуємо 2 повних слайда */
  .carousel {
    grid-auto-columns: calc(100% / 1.5); /* Два повних слайда */
    margin-right: 3%;
    margin-left: 0;
  }
  .card .img img {
    aspect-ratio: 3/3;
  }

  .title{
    margin-left: 32vw;
  
  
  }

  .subtitle{
    grid-template-columns: none !important;
    grid-template-rows: repeat(2, 1fr);
  }
  .subtitle p{
    font-size: 3vw;
  }

  .slide-button {
top: 62vw;
font-size: 2.2em;
}

.card .badge {
  font-size: 4vw;
}
.card{
  scroll-snap-align: end !important;
}
}

@media screen and (max-width: 450px) {
  .carousel {}
  .card .img img {
    aspect-ratio: 3/3;
  }

  .slide-button {
    top: 62vw;
  }

  .subtitle{
    grid-template-columns: none !important;
    grid-template-rows: repeat(2, 1fr);
  }
  .subtitle p{
    font-size: 1em;
    font-size: 3.1vw;
    /* text-align: justify; */
    font-weight: 100;
  }

}

