.section_1 {
  background-image: url("../background/background_section1.png"),
    /* Нижнє зображення */
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../background/front.png"); /* Верхнє зображення */
  background-position: center center, center center; /* Позиції для обох зображень */
  background-size: cover, cover; /* Обидва зображення покривають контейнер */
  background-repeat: no-repeat, no-repeat; /* Обидва зображення не повторюються */
  background-color: #000000; /* Чорний фон на випадок, якщо зображення не завантажаться */

  height: 1074px;
  width: 100%;
  display: flex;
  position: relative;
  color: white;
  /* overflow-y: hidden; */
  z-index: 2;
}

.news-paper{
  position: absolute;
  object-fit: cover;
  width: 100%;
  bottom: 0;
  transform: translate(0%, 50%); /* Переміщаємо квадрат на 50% вниз по вертикалі */
  z-index: 3;
}

@media screen and (min-width: 2000px) {

}
  @media screen and (max-width: 1600px) {

  }
    @media screen and (max-width: 1450px) {
      .news-paper{
        transform: scale(1.5) translate(15%, 40%);
      }
    }
      @media screen and (max-width: 768px) {
        .section_1{
          height: 800px;
        }
      }
      @media screen and (max-width: 480px) {
        .section_1{
          height: 700px;
          height: 165vw;
        }
      }