.section_2{
    /* background-image: 
    linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.766)),
    url("../background/otherground2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative; */
    width: 100%;
    padding-bottom: 200px;
    /* height: 7000px; */
    box-sizing: border-box;
    z-index: 1;

}
.full{
    width: 100%;
}

.achievements{
position: relative;
display: grid;
grid-template-rows: min-content max-content;
gap: 50px;
width: 57vw;
/* width: 1133px; */
/* float: right; */
margin-left: auto;
margin-right: 5%;
margin-top: 25%;
}

.description{
position: relative;
}

.description p{
display: inline-block;
margin: 0;
}

.description p:nth-child(1){
    font-family: 'Georama', sans-serif;
    font-size: max(16px, 0.9vw);
    font-weight: 200;
    color: #CCCCCC;
    position: absolute;
    top: 7px;
    left: 0;
}
.description p:nth-child(2){
    font-family: 'Georama', sans-serif;
    font-size: 3.5vw;
    font-weight: 100;
    color: #CCCCCC;
    line-height: 1;
    letter-spacing: -3px;
    text-indent: 15%;
    position: relative;
    text-align: justify;
    width: 99%;
}
.description p:nth-child(3){
    font-family: 'Montserrat', sans-serif;
    font-size: max(16px, 0.7vw);
    font-weight: 300;
    color: #E5E5E5;
    text-align: right;
    /* width: 380px; */
    max-width: 30%;
    max-width: clamp(380px, 30% , 500px);
    height: 36px;
    position: absolute;
    bottom: 0;
    right: 11px;
}



.counter{
display: flex;
/* gap: 120px; */
justify-content: space-between;
align-items: center;
}

.counter div{
display: grid;
grid-template-rows: min-content min-content;
}

.counter div p:first-of-type{
    /* font-size: 6.875rem; */
    font-size: 5.7vw;
    font-weight: 700;
    font-family: "georama"sans-serif;
    color: #E5E5E5;
    letter-spacing: -3px;
    text-align: center;
    display: inline;
    margin: 0;

}

.counter div p:nth-of-type(2){
    font-size: 1.125rem;
    font-weight: 500;
    font-family: "Montserrat"sans-serif;
    color: #E5E5E5;
    text-align: center;
    display: inline;
    margin: 0;


}


.contact_container{
    position: relative;
    margin: 5% 5%;
    /* box-sizing: content-box; */
    }
    
    .contact_container p{
    display: inline-block;
    margin: 0;
    }
    
    .contact_container p:nth-child(1){
        font-family: 'Georama', sans-serif;
        font-size: 0.9vw;
        font-weight: 200;
        color: #CCCCCC;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .contact_container p:nth-child(2){
        font-family: 'Georama', sans-serif;
        font-size: 3.2vw;
        font-weight: 100;
        color: #CCCCCC;
        line-height: 1;
        letter-spacing: -3px;
        text-indent: 10%;
        position: relative;
        text-align: justify;
        /* width: 99%; */
    }
    .contact_container p:nth-child(3){
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9vw;
        font-weight: 300;
        color: #E5E5E5;
        text-align: right;
        /* width: 300px; */
        max-width: 20%;
        position: absolute;
        bottom: 0;
        right: 11px;
    }

    .contact_container div{
        margin: 0;
    }
  
  @media screen and (min-width: 2000px) {

  }
    @media screen and (max-width: 1450px) {
        .contact_container p:nth-child(1){
            display: none;
        }
        .contact_container p:nth-child(2){
            font-size: 3.3em;
            text-align: left;
        }
        .contact_container p:nth-child(3){
            display: none;
        }
    }
      @media screen and (max-width: 1280px) {
        .achievements{
            margin-top:30%;
            margin-left: 5%;
            width: 90%;
        }
    
        .description p:nth-child(1){
            display: none;
        }
        .description p:nth-child(3){
            display: none;
        }
        .description p:nth-child(2){
        /* font-size: 3.3em; */
        font-size: 4.2vw;
        letter-spacing: normal;
        display: block;
        }

        .counter div p:nth-of-type(1){
            font-size: 4em;
            /* font-size: 5vw; */
        }
        .counter div p:nth-of-type(2){
            font-weight: 200;
            font-size: 1.9em;
            font-size: 2vw;
        }
      }
        @media screen and (max-width: 768px) {

            .description p:nth-child(2){
            /* font-size: 2.3em; */
            }
          
            .contact_container p:nth-child(2){
         
            font-size: 5vw;
            letter-spacing: normal;
            text-indent: 32vw;
            text-align: left;
            }

            .counter div p:nth-of-type(1){
                font-size: 4em;
                font-size: 8.5vw;
            }
            .counter div p:nth-of-type(2){
                font-weight: 200;
                font-size: 1em;
            }
        }
    
        @media screen and (max-width: 450px) {
            
            .description p:nth-child(2){
            font-size: 1.4em;
            font-size: 5.1vw;

            letter-spacing: normal;
            text-align:start;
            display: block;
            }
            .contact_container p:nth-child(2){
                font-size: 7vw;
                text-indent: 30vw;
            }

            .counter div p:nth-of-type(1){
                font-size: 2.5em;
            }
            .counter div p:nth-of-type(2){
                font-size: 0.9em;
                font-size: 3.2vw;
                font-weight: 200;
            }
        }
    