
.title_class {
    color: #F44C06;
    /* font-weight: 900; */
    font-size: 4.1em;
    /* font-family: "Georama", sans-serif; */
    position: absolute;
    /* font-style: normal; */
    margin: 0;
     top: 10%;
    left: 5%;
    width: 90%;
    /* min-width: 1318px; */
    /* max-width: 1300px; */
    /* line-height: 141px; */
    line-height: 1;
}

.title_class h1{
margin: 0;
font-style: normal;
font-family: "Georama", sans-serif;
font-weight: 900;
}
.title_text2{
float: right;
}

@media screen and (min-width: 2000px) {
    .title_text,
    .title_text2 {
        font-weight: 800;
        font-size: 10.5rem;
        /* width: 100%; */
        line-height: 0.9;
    }

    .title_text2{
        top: 25%;
        /* left: 5%; */
    }
}

    @media screen and (max-width: 1450px) {
        .title_text,
        .title_text2 {
            font-weight: 800;
            font-size: 8rem;
            width: 60%;
            line-height: 0.9;
        }
        .title_text2{
            float: none;
        }
        .title_text2{
            top: 31%;
            left: 5%;
        }
    }
      @media screen and (max-width: 768px) {
        
        
.title_text,
.title_text2 {
    font-size: 6rem;
}

.title_text2{
    top: 27%;
}
     
}
      @media screen and (max-width: 480px) {
        
        
.title_text,
.title_text2 {
    font-size: 5rem;
}

.title_text2{
    top: 23%;
}
     
      }
      @media screen and (max-width: 380px) {
        
        
.title_text,
.title_text2 {

    font-size: 4rem;

}

.title_text2{
    top: 21%;
    left: 5%;
}
     
      }