body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
}

.main_css{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hidden{
  display: none !important;
}

.no-interaction {
  pointer-events: none;
}

.news-paper{
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 11%;
  z-index: 2;
}

@media screen and (min-width: 2000px) {

}
  @media screen and (max-width: 1600px) {

  }
    @media screen and (max-width: 1200px) {

    }
      @media screen and (max-width: 768px) {
     
        .news-paper{
          width: 100%; /* Адаптивна ширина */
          transform: scale(1.5) translateX(15%); /* Збільшуємо зображення на 150% і зміщуємо */
          /* transform-origin: left center;  */
          top: 12%;
}

      }
      @media screen and (max-width: 450px) {
     
        .news-paper{
          width: 100%; /* Адаптивна ширина */
          transform: scale(1.5) translateX(15%); /* Збільшуємо зображення на 150% і зміщуємо */
          /* transform-origin: left center;  */
          top: 12.5%;
}

      }